<body>
<header id="header">
	<div id="titleBox">
	<div id="title-contents" class="cf">
	    <h1>
			<span class="site-title">{{ system_name }}</span> | {{ company_name }}
		</h1>
		{% if popup != "1"%}
			<div id="logout-contents" class="cf">{{ include('common/logout.twig') }}</div>
		{% endif %}
	</div>
	</div>
	<div id="header-contents" class="cf">
		<div id="logo">
			{% if popup != "1"%}<a href="{{ base_url }}TopPage">{% endif %}
				<img alt="{{ company_name }}" src="{{ base_url }}view/_images/logo.png?20200101">
			{% if popup != "1"%}</a>{% endif %}
		</div>
	</div>
</header>