{% import 'parts/main_body.twig' as main %}

<h4>契約社員登用情報</h4>
{% if contract_list|length == 0 %}
	{{ main.info_msg("契約社員登用情報はありません。")}}
{% else %}
	<div id="contract-table">
		<table class="list-table">
			<thead>
				<tr class="list-head">
					{% for item in contract_list_col %}
						<td class="width-{{ item.width }}">{{ item.value }}</td>
					{% endfor %}
				</tr>
			</thead>
			<tbody id="container">
				{% for key,item in contract_list %}
					<tr>
						<td class="ta-center">{{ item.employee_id }}</td>
						<td class="ta-center">{{ item.contract_date|date('Y年n月j日') }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endif %}